<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <title>Clap Clap Clap</title>
  </head>

  <body>
    <style>
      .img
      {
        width:100%;
        height:100%;
        background-size:cover;
        background-position:50% 50%;
      }
      body, html
      {
        width:100%;
        height:100%;
        min-width:100%;
        min-height:100%;
        overflow:hidden;
      }
      #app
      {
        width:100%;
        height:100%;
        min-width:100%;
        min-height:100%;
        overflow:hidden;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background-color:#212121;
        color:white;
      }
      h4
      {
        width:100%;
        text-align:center;
      }
      h3
      {
        color:rgba(255, 255, 255, .25);
        position:absolute;
        bottom:0;
        left:0;
      }
    </style>
    <div id="app">
      <h1>{{ message }}<br><i class="em em-clap"></i><i class="em em-clap"></i><i class="em em-clap"></i></h1>
      <h4>Shows you a random clapping gif.<br>You deserve it!<br><i class="em em-wink"></i></h4>
      <div v-bind:style="{ backgroundImage: 'url(' + gif + ')' }" class="img" />
      <h3>Made in May of 2018 by BlockFade. <a href="https://gitlab.com/gullejor000/clapclapclap">Source</a></h3>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
      Vue.use(VueMaterial.default)

      new Vue({
        el: '#app',
        data: {
          gif: "clap.gif",
          gifs: ["clap.gif", "clap2.gif", "clap3.gif", "clap4.gif", "clap5.gif"]
        },
        mounted: function()
        {
          this.gif = this.gifs[Math.floor(Math.random() * this.gifs.length)];
        }
      })
    </script>
  </body>
</html>